:root {
    margin: 0;
    padding: 0;
    font-size: large;
    background-color: var(--white);
    color: var(--white);
    --white: #fff8dc;
    --morado: #8c30f5;
    --morado-dark: #6426ac;
    --morado-darker: #310244;
}

body {
    margin: 0;
    padding: 0;
}

.stop {
    height: 100%;
    overflow: hidden;
}
