---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.svelte'
import Carousel from '../components/Carousel.svelte';
---

<Layout title="Enfermera Verónica Crespo">
	<main>
		<NavBar/>
		<header class="p-8">
			<h1><span class="text-sm">Enfermera general</span> Veronica Crespo</h1>
		</header>

		<Carousel/>
		

	</main>
</Layout>
