---
import hands from '../../assets/holding-hands.jpeg'
---

<section id="about" class="flex justify-evenly py-10 px-2 bg-green-400">
  <article class="relative h-80 w-full justify-center flex text-center items-center">
    <img src={hands} alt="Veronica Crespo" class="h-auto w-auto rounded-sm shadow-md" />
    <h4 class="max-w-lg text-2xl text-white">
      "El amor, el apoyo y la amabilidad vienen como regalos con envoltura de esperanza"
    </h4>
  </article>
  <article>
    <p>
      Entiendo lo importante que es recibir medicamentos de manera segura y eficiente. Como
      enfermera profesional, estoy capacitada para administrar inyecciones intramusculares,
      subcutáneas e intravenosas, siguiendo estrictamente las indicaciones médicas. Mi objetivo es
      brindarte un cuidado de calidad, donde sientas comodidad y confianza durante todo el proceso.
    </p>
    <p>
      Cada paciente tiene necesidades únicas, por lo que personalizo mis servicios para adaptarme a
      tus requerimientos específicos. Ya sea que necesites un plan de administración regular para
      una condición crónica o una inyección puntual para un tratamiento específico, estoy aquí para
      ayudarte.
    </p>
  </article>
</section>
