---
import xan from '../../assets/xan.jpeg'
---

<section id="about" class="justify-center p-10 bg-green-400">
  <article class="bg-teal-700 h-80 justify-center flex text-center items-center">
    <img src={xan} alt="Veronica Crespo" class="max-h-80 w-auto translate-y-5 -translate-x-5" />
    <h4 class="max-w-[30ch] text-2xl text-white">
      "El amor, el apoyo y la amabilidad vienen como regalos con envoltura de esperanza"
    </h4>
  </article>
</section>
