---
import xan from '../../assets/xan.jpeg'
---

<section class="flex justify-evenly py-10 px-2 bg-green-400">
  <article class="relative h-80 w-full justify-center flex text-center items-center">
    <div class="absolute inset-0 bg-gradient-to-l from-teal-600 to-transparent"></div>
    <img
      src={xan}
      alt="Veronica Crespo"
      class="max-h-80 w-auto translate-y-5 md:-translate-x-5 rounded-sm shadow-md"
    />
    <h4 class="max-w-lg text-2xl text-white z-10">
      "El amor, el apoyo y la amabilidad vienen como regalos con envoltura de esperanza"
    </h4>
  </article>
</section>
