---
import xan from '../../assets/xan.jpeg'
---

<section class="flex justify-evenly py-10 px-2 bg-green-400">
  <article
    class="h-80 w-full justify-center flex text-center items-center bg-gradient-to-l from-teal-600 to-transparent"
  >
    <!-- <div class="absolute inset-0 bg-gradient-to-l from-teal-600 to-transparent"></div> -->
    <img
      src={xan}
      alt="Veronica Crespo"
      class="shadow-md max-h-80 w-auto my-5 md:-mx-5 rounded-sm"
    />
    <h4 class="max-w-lg text-2xl text-white">
      "El amor, el apoyo y la amabilidad vienen como regalos con envoltura de esperanza"
    </h4>
  </article>
</section>
