---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/pages/hero.astro'
import Services from '@/pages/services.astro'
import About from '@/pages/about.astro'
import Contact from '@/pages/contact.astro'
import Navbar from '@/components/Navbar.astro'
---

<Layout title="Verónica Crespo">
  <main id="home">
    <Navbar />
    <Hero />
    <Services />
    <About />
    <Contact />
  </main>
</Layout>
