---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.svelte'
import Carousel from '../components/Carousel.svelte';
import Header from '../components/Header.svelte';

---

<Layout title="Enfermera Verónica Crespo">
	<main>
		<header>			
			<NavBar/>
		</header>

		<Carousel/>
		<div class="min-h-10 border-fuchsia-700 my-10 bg-slate-600">TEST</div>
		<div class="min-h-10 border-fuchsia-700 my-10 bg-slate-600">TEST</div>
		<div class="min-h-10 border-fuchsia-700 my-10 bg-slate-600">TEST</div>
		<div class="min-h-10 border-fuchsia-700 my-10 bg-slate-600">TEST</div>
		<div class="min-h-10 border-fuchsia-700 my-10 bg-slate-600">TEST</div>
		<div class="min-h-10 border-fuchsia-700 my-10 bg-slate-600">TEST</div>
		<div class="min-h-10 border-fuchsia-700 my-10 bg-slate-600">TEST</div>

	</main>
</Layout>
