---
import Layout from '../layouts/Layout.astro'
import NavBar from '../components/NavBar.svelte'
import About from './about.astro'
import Services from './services.astro'
import Contact from './contact.astro'
---

<Layout title="Verónica Crasdespo">
  <main id="home">
    <NavBar />
    <About />
    <Services />
    <Contact />
  </main>
</Layout>
