---
import Layout from '../layouts/Layout.astro'
import Hero from './hero.astro'
import Services from './services.astro'
import About from './about.astro'
import Contact from './contact.astro'
import NavBar from '../components/Navbar.astro'
---

<Layout title="Verónica Crespo">
  <main id="home">
    <NavBar client:load />
    <Hero />
    <Services client:view />
    <About />
    <Contact />
  </main>
</Layout>
