---
import Layout from '../layouts/Layout.astro'
import NavBar from '../components/NavBar.svelte'
import Carousel from '../components/Carousel.svelte'
import Header from '../components/Header.svelte'
import Hero from '../components/Hero.svelte'
import Services from '../components/Services.svelte'
import About from '../components/About.svelte'
import Footer from '../components/Footer.svelte'
---

<Layout title="Enfermera Verónica Crespo">
  <main>
    <header>
      <NavBar />
    </header>

    <section>
      <Header />
      <Hero />
      <Services />
      <About />
      <Footer />
    </section>
  </main>
</Layout>
