<div class="container mx-auto mt-10" id="services">
  <h2 class="text-3xl font-bold text-center mb-10">Servicios</h2>
  <div class="flex flex-wrap justify-center">
    <div class="max-w-md mx-4 mb-8 bg-white rounded-lg shadow-md">
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold mb-2">Inyectables</h3>
        <p class="text-gray-700 text-base">
          Colocación de suero, medicamentos intramusculares, subcutáneos e intradérmicos
        </p>
      </div>
    </div>

    <div class="max-w-md mx-4 mb-8 bg-white rounded-lg shadow-md">
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold mb-2">Cuidados</h3>
        <p class="text-gray-700 text-base">Cuidados geriátricos en rondas de 8 y 12 horas</p>
      </div>
    </div>
    <div class="max-w-md mx-4 mb-8 bg-white rounded-lg shadow-md">
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold mb-2">Terapia</h3>
        <p class="text-gray-700 text-base">Terapia de rehabilitación física y de electrodos</p>
      </div>
    </div>
    <div class="max-w-md mx-4 mb-8 bg-white rounded-lg shadow-md">
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold mb-2">Masajes</h3>
        <p class="text-gray-700 text-base">Masajes descontrasturantes, relajantes y deportivos</p>
      </div>
    </div>
  </div>
</div>
