---
import medicineLogo from '../images/medicine.svg'
import signsLogo from '../images/signs.svg'
import measurementsLogo from '../images/measurements.svg'
import reportLogo from '../images/report.svg'
import wheelChairLogo from '../images/wheelChair.svg'
import massageLogo from '../images/massage.svg'
import cureLogo from '../images/cure.svg'

const servicios = [
  {
    logo: medicineLogo,
    title: 'Administración de Medicamentos',
    description:
      'Colocación de suero, medicamentos intramusculares, subcutáneos e intradérmicos'
  },
  {
    logo: signsLogo,
    title: 'Toma de Signos Vitales',
    description:
      'Temperatura corporal, Frecuencia cardiaca, Presión arterial, Frecuencia respiratoria'
  },
  {
    logo: measurementsLogo,
    title: 'Mediciones',
    description: 'Glucosa, Indice de Masa Corporal y Oxigenación'
  },
  {
    logo: reportLogo,
    title: 'Cuidados',
    description: 'Cuidados geriátricos en rondas de 8 y 12 horas'
  },
  {
    logo: wheelChairLogo,
    title: 'Fisioterapia',
    description: 'Terapia de rehabilitación física y de electrodos'
  },
  {
    logo: massageLogo,
    title: 'Masajes',
    description: 'Masajes descontracturantes, faciales y motrices'
  },
  {
    logo: cureLogo,
    title: 'Curaciones y sutúras',
    description: 'Curaciones de heridas, suturas y retiro de puntos'
  }
]
---

<div class="p-12 pt-24" id="services">
  <h2 class="text-3xl font-bold text-center">Servicios</h2>
  <div
    class="mt-16 grid grid-cols-1 md:grid-cols-2 md:auto-fit-100 lg:grid-cols-3 gap-6"
  >
    {
      servicios.map(({ title, description, logo }) => (
        <div class="bg-white py-8 shadow-md p-4 [&:nth-child(3n-1)]:bg-[#0f766e] [&:nth-child(3n-1)]:text-[#fafafa] md:[&:nth-child(3n)]:col-span-2">
          <div class="h-16 w-16 mb-2">
            <img src={logo} alt={title} height="50px" />
          </div>
          <h3 class="text-2xl font-semibold">{title}</h3>
          <p class="mt-2 font-light">{description}</p>
        </div>
      ))
    }
  </div>
</div>
