---
import Services from '../components/Services.svelte'
import ServicesPage from '../components/ServicesPage.svelte'
import Service from '../components/Service.astro'

// TO BE DONE TODAY:
//
// - set a static page for showing services grouped by category ✅
// - create a modal component that focus the user's attention in the selected service
// - create a island modalContent for showing service data such as: name, description, periodicity, price, conditions
---

<main class="container mx-auto mt-10" id="services">
  <h2 class="text-3xl font-bold text-center mb-10">Servicios</h2>
  <div
    class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-0 justify-center align-middle sm:justify-center max-w-[1024px]"
  >
    <Service title={'Inyecta'} />
    <!-- <Services client:load /> -->
    <!-- <div class="max-w-sm mx-4 mb-8 bg-white rounded-lg shadow-md hover:shadow-xl">
      <a href={sendMessage(`Hola, soy ${user.name}, me gustartía consultar sobre ${service.name}`)}>
        <div class="px-6 py-4">
          <h3 class="text-xl font-bold mb-2">Inyectables</h3>
          <p class="text-gray-700 text-base">
            Colocación de suero, medicamentos intramusculares, subcutáneos e intradérmicos
          </p>
        </div>
      </a>
    </div> -->

    <div class="max-w-sm mx-4 mb-8 bg-white rounded-lg shadow-md">
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold mb-2">Toma de Signos Vitales</h3>
        <p class="text-gray-700 text-base">
          Temperatura corporal, Frecuencia cardiaca, Presión arterial, Frecuencia respiratoria
        </p>
      </div>
    </div>
    <div class="max-w-sm mx-4 mb-8 bg-white rounded-lg shadow-md">
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold mb-2">Mediciones</h3>
        <p class="text-gray-700 text-base">Glucosa, Indice de Masa Corporal y Oxigenación</p>
      </div>
    </div>
    <div class="max-w-sm mx-4 mb-8 bg-white rounded-lg shadow-md">
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold mb-2">Cuidados</h3>
        <p class="text-gray-700 text-base">Cuidados geriátricos en rondas de 8 y 12 horas</p>
      </div>
    </div>
    <div class="max-w-sm mx-4 mb-8 bg-white rounded-lg shadow-md">
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold mb-2">Terapia</h3>
        <p class="text-gray-700 text-base">Terapia de rehabilitación física y de electrodos</p>
      </div>
    </div>
    <div class="max-w-sm mx-4 mb-8 bg-white rounded-lg shadow-md">
      <div class="px-6 py-4">
        <h3 class="text-xl font-bold mb-2">Masajes</h3>
        <p class="text-gray-700 text-base">Masajes descontrasturantes, relajantes y deportivos</p>
      </div>
    </div>
  </div>
</main>
