---
const menuItems = [
  { name: 'Inicio', href: '#home' },
  { name: 'Servicios', href: '#services' },
  { name: 'Sobre mi', href: '#about' },
  { name: 'Contacto', href: '#contact' }
]
---

<nav>
  <ul>
    {
      menuItems.map(({ name, href }) => (
        <li>
          <a href={href}>{name}</a>
        </li>
      ))
    }
  </ul>
</nav>
