---
// import servicesList from '/services'

// this should be the service data 'serviceRecordView'
---

<article>
  <h3>service.category: Inyectabless</h3>
  <ul>
    <li>Service1: Intramuscular</li>
    <li>Service2: Subcutánea</li>
    <li>Service2: Intravenosa</li>
  </ul>
</article>
